*.py[cod]
**/__pycache__
**/.mypy_cache
**/.pytest_cache
**/.scannerwork
**/.classpath
**/.dockerignore
**/env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
sonar-project.properties
*.db

**/.venv
**/venv

.k8s/
